@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333333;
}

body {
  background-color: #FEFFBE !important;
}

.App {
  width: 70%;
  margin: auto;
  margin-top: 20vh;
  background-color: #9AD2CB;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.1);
  border-radius: 12px;
  /* padding-bottom: 2rem; */
}

.App h1 {
  padding: 1rem;
  text-align: center;
}

.todo-form {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.todo-input {
  width: 80%;
  border: 1px solid transparent;
}

input[type=text] {
  padding-left: 8px;
  color: #000;
}


.add-task {
  border: 1px solid transparent;
  background-color: #EBD494;
  padding: 4px 8px;
  border-radius: 8px;
}

.todo-bar {
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  background-color: #D7EBBA;
}

.task p {
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;

}

.task p {
  margin-top: auto;
  margin-bottom: auto;
}

.trash-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding: 8px;
  border-radius: 16px;
}

.trash-icon:hover {
  background-color: rgba(254,255,190,0.8);

}

@media (max-width: 743px) {
  .todo-input {
    width: 50vw;
  }

  .add-task {
    font-size: 3vw;
  }
  
  ::placeholder {
    font-size: 3vw;
  }
}