@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333333;
}

body {
  background-color: #FEFFBE !important;
}

.App {
  width: 70%;
  margin: auto;
  margin-top: 20vh;
  background-color: #9AD2CB;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.1);
}

.App h1 {
  padding: 1rem;
  text-align: center;
}

.todo-form {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.todo-input {
  width: 80%;
  border: 1px solid transparent;
}

input[type=text] {
  padding-left: 8px;
  color: #000;
}


.add-task {
  border: 1px solid transparent;
  background-color: #EBD494;
  padding: 4px 8px;
  border-radius: 8px;
}

.todo-bar {
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  background-color: #D7EBBA;
  display: flex;
  justify-content: space-between;
}

.task p {
  margin: 0;
  padding: 0;
}

@media (max-width: 743px) {
  .todo-input {
    width: 50vw;
  }

  .add-task {
    font-size: 3vw;
  }
  
  ::placeholder {
    font-size: 3vw;
  }
}

/* BELOW IS FOR REFERENCE */
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}